---
import { Image } from "astro:assets";

const { HeroSectionData } = Astro.props;
const { header, description, image, buttonLeft, buttonRight, BelowText, headerLineTwo } =
  HeroSectionData?.data;
---

<section class="section-hero">
  <div
    class="relative z-10 overflow-hidden rounded-bl-[30px] rounded-br-[30px] bg-white md:rounded-bl-[50px] md:rounded-br-[50px] xl:rounded-bl-[100px] xl:rounded-br-[100px]"
  >
    <div class="pt-28 md:pt-36 lg:pt-[150px] xxl:pt-[185px]">
      <div class="container-default">
        <div class="flex flex-col items-center justify-center">
          <div class="text-center">
            <div
              class="jos mx-auto mb-6 max-w-xl lg:max-w-2xl xl:max-w-3xl xxl:max-w-[1076px]"
            >
              <div class="mb-6 flex justify-center">
                <Image
                  src="/assets/img/Trees-Solid.svg"
                  alt="Trees Solid"
                  width="400"
                  height="200"
                  class="h-auto w-full max-w-md"
                />
              </div>
            </div>
            <div
              class="jos mx-auto mb-8 max-w-xl lg:mb-[50px] lg:max-w-2xl xl:max-w-3xl xxl:max-w-[896px]"
            >
              <p class="mb-8">
                {description}
              </p>
            </div>
            <div class="mb-3 flex flex-wrap justify-center gap-6">
              <a
                href={buttonLeft?.link}
                class="btn is-caribbean-green is-transparent btn-animation is-large is-rounded group inline-block"
              >
                <span>
                  {buttonLeft?.text}
                  <i class="fa fa-arrow-right ml-[10px] text-2xl leading-none"
                  ></i>
                </span>
              </a>
              <a
                href={buttonRight?.link}
                class="btn is-outline-midnight-moss btn-animation is-large is-rounded group inline-block"
                ><span>{buttonRight?.text}</span></a
              >
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
